{% extends "base.html" %}
{% from 'macros.html' import render_form %}

{% block head %}
<div class="jumbotron masthead">
  <div class="container">
    <h1>JOBPLUS</h1>
    <h2>领先的互联网求职、招聘平台</h2>
  </div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title" id="jobTab">
    <li class="newTab active"><a href="/">最新职位</a></li>
    <li class="newTab active"><a href="/">热门职位</a></li>
</ul>

<div class="row">
   {% for job in jobs %}
    <div class="col-sm-6 col-md-4 job">
        <div class="thumbnail">
          <a href="{{ url_for('job.detail',job_id=job.id) }}" target="_blank">
             <div class="caption">
                <h4 align="center" class="job_name">{{ job.name }}</h4>
                <p >{{ job.experience_requirement}} | {{ job.degree_requirement}} | {{ job.salary }} | {{ job.location }}</p>


             </div>
          </a>
        </div>
    </div>

    {% endfor %}
</div>



<p align = "right" class="list-more">
    <a href="{{ url_for('job.index') }}" class="btn btn-success btn-lg list-more-btn">查看更多&gt;&gt;&gt;&emsp;</a>
</p>

<ul class="nav nav-tabs list-title" id="companyTab">
    <li class="newTab active"><a href="/">最新公司</a></li>
    <li class="newTab active"><a href="/">热门公司</a></li>
</ul>

<div class="row">
   {% for company in companies %}
    <div class="col-sm-6 col-md-4 company">
        <div class="thumbnail">
          <a href="{{ url_for('company.detail',company_id=company.id) }}" target="_blank">
             <img src="{{ company.companydetail.image_url }}" alt="公司logo" class="img-circle">
             <div class="caption">
                <h4 align="center" class="company_name">{{ company.name }}</h4>
                <p align="center" class="company_description">{{ company.companydetail.about }}</p>
                <p align="center">{{ company.jobs | length}}</p>

             </div>
          </a>
        </div>
    </div>

    {% endfor %}
</div>


<p align = "right" class="list-more">
    <a href="{{ url_for('company.index') }}" class="btn btn-success btn-lg list-more-btn">查看更多&gt;&gt;&gt;&emsp;</a>
</p>

{% endblock %}