{% extends "base.html" %}
{% from 'macros.html' import render_job,render_company %}

{% block head %}
<div class="jumbotron masthead">
  <div class="container">
    <h1>JOBPLUS</h1>
    <h2>领先的互联网求职、招聘平台</h2>
  </div>
</div>
{% endblock %}

{% block body %}
<ul class="nav nav-tabs list-title" id="jobTab">
    <li class="newTab active"><a href="/">最新职位</a></li>
    <li class="newTab active"><a href="/">热门职位</a></li>
</ul>

<div class="job-list">
   {% for job in jobs %}
        {{ render_job(job)}}
   {% endfor %}
</div>



<p align = "right" class="list-more">
    <a href="{{ url_for('job.index') }}" class="btn btn-success btn-lg list-more-btn">查看更多&gt;&gt;&gt;&emsp;</a>
</p>

<ul class="nav nav-tabs list-title" id="companyTab">
    <li class="newTab active"><a href="/">最新公司</a></li>
    <li class="newTab active"><a href="/">热门公司</a></li>
</ul>

<div class="company-list">
   {% for company in companies %}
      {{ render_company(company) }}

    {% endfor %}
</div>


<p align = "right" class="list-more">
    <a href="{{ url_for('company.index') }}" class="btn btn-success btn-lg list-more-btn">查看更多&gt;&gt;&gt;&emsp;</a>
</p>

{% endblock %}
